doctype
html
  head
    title #{title} - Pong
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Pong Biatch
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Aw hell yeah.

script(src="https://code.jquery.com/jquery-2.2.0.min.js")
block scripts